form{
width: 940px;
margin: 0 auto;
}
form p {
text-align: center;
font-size: 22px;
font-style: italic;
padding: 2em 0;
color: blueviolet;
}
form label, form legend {
display: block;
font-size: 20px;
margin-bottom: 10px;
}

.input-padrao {
display: block;
margin-bottom: 20px;
padding: 10px, 20px;
width: 50%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
textarea{
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
}
legend{
 padding: 15px 0 5px;   
}
select{
width: 10%;
text-align: center;
}
.checkbox{
margin: 20px 0;
}
.enviard{
width: 40%;
padding: 15px 0;
background-color: azure;
color: rgb(238, 250, 215);
font-weight: bolder;
font-size: 18px;
border: 1px solid transparent;
border-radius: 10px;
cursor: pointer;
font-family: Georgia, 'Times New Roman', Times, serif;
}